body {
    font-family: Arial;
    font-size: 17px;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 26px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    
  }
  .container p{
    font-size: 16px;

  }
  .container img{
    filter: blur(3px);
    -webkit-filter: blur(3px);


    height: 500px;
  }
  .container button{
    background-color: tomato;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  p{
    text-align: center;
    font-size: 20px;
  }
  .donation {
    display: flex;
    width: 90%;
    text-align: justify;
    padding-top: 5px;
}
.partition {
  display: flex;
  padding-left: 30px;
  margin-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 92%;
  text-align: center;
  font-size: 30px;
  
}
  .box {
    display: flex;
    padding-left: 75px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 12%;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    font-weight:600 ;
    color: gray;
    margin: 10px;
}
#box-color1{
  background-color: #FFF4D6;
}
#box-color2{
  background-color: #f4ffd6;
  color: rgb(255, 160, 71);
  border: 3px solid rgb(255, 160, 71);
}
#box-color3{
  background-color: #d6ffdd;
}
#box-color4{
  background-color: #ffe8d6;
}
#box-color5{
  background-color: #f0d6ffea;
}
input{
  width: 50%;
  text-align: center;
  margin-left: 25%;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 20px;
  font-size: 20px;
}
button{
background-color: tomato;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-left: 45%;
    margin-top: 20px;
}
  
  .types {
    display: flex;
    width: 92%;
    text-align: justify;
    padding-top: 5px;
}
.types p{
    text-align: left;
}
.part {
    display: flex;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 93%;
    text-align: center;
    
}

    
  
  .line {
    box-shadow: 10px 10px 40px rgb(163, 135, 135);
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 15px;
    padding: 25px 25px 25px 30px;
    height: 410px;

}

#color1{
    background-color: #FFF4D6;
}
#color2{
    background-color: rgba(255, 89, 89, 0.1);
}
#color3{
    background-color: rgba(79, 157, 166, 0.1);
}
.picture {
    
    height: 140px;
    border-radius: 10px;
    width: 145px;
   padding-right: 5px;

   

    
}
  .final {
    background-color: rgb(0, 0, 0);
    height: 130px;
    text-align: center;
    padding-top: 10px;
    
    }
    
    #tag {
        color: rgb(255, 255, 255);
       font-size: 20px;
       font-style: italic;
    }
    
    #define {
        padding-bottom: 100px;
    }
    small {
        color: rgb(11, 146, 146);
        display: block;
        text-align: center;
    }
    span{
        color: #FFAD5A;
    }
  


